html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;

    margin: 0;

    color: white;

    overflow: hidden;

    display: flex;
    align-items: center;

    font-family: 'IBM Plex Sans JP', sans-serif;
    font-size: large;
}

.background {

    width: 100%;
    height: auto;

    position: absolute;
    top: -25%;

    filter: blur(25px);

    z-index: -1;
}

.background>img {
    width: 100%;
    height: auto;
    margin: auto;
}

.contentBox {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.photoContainer {
    width: 60%;
    height: auto;

    display: flexbox;
}

.infoContainer {
    width: 40ch;

    display: flexbox;
}

.infoContainer>table {

    vertical-align: middle;

    font-size: 25px;
}


td.param-icon {

    height: 100%;

    text-align: center;

    padding-right: 12px;

    vertical-align: middle;
}

td.param-icon > span{
    text-align: center;
    vertical-align: middle;
}

a.title{
    font-size: 60px;
    padding-right: 15px;
}