html.night {
    /* --accent-color: #BDE7BD;
    --accent2-color: #a2c0a2;
    --night: rgb(186, 129, 210);
    --day: rgb(232, 184, 116);
    --theme-toggle-circle: blanchedalmond;
    --exif-toggle-light:rgb(255, 204, 0);
    --exif-toggle-dark:rgb(38, 255, 0);
    --text-color: #153F3F;
    --bg-color: #FFFFE7;
    --content-bg-color: #bde7bd85; */

    --accent-color: #153F3F;
    --accent2-color: #69BDBD;
    --night: rgb(186, 129, 210);
    --day: #E7933F;
    --theme-toggle-circle: #45433f;
    --exif-toggle-light: #ffffff;
    --exif-toggle-dark: #ffffff6c;
    --text-color: #fff2ce;
    --bg-color: #45433f;
    --content-bg-color: #2c362c85;



    height: 100vh;
    width: 100%;
}

html {
    --accent-color: #88A020;
    --accent2-color: #086020;
    --night: rgb(186, 129, 210);
    --day: #E7933F;
    --theme-toggle-circle: #FFFFE7;
    --exif-toggle-light: #ffffff;
    --exif-toggle-dark: #ffffff6c;
    --text-color: #303026;
    --bg-color: #fcf3dc;
    --content-bg-color: #bde7bd85;


    height: 100vh;
    width: 100%;
}



body {
    margin: 0;
    height: 100%;


    color: var(--text-color);
    background-color: var(--bg-color);

    font-family: 'IBM Plex Sans JP', sans-serif;
    font-size: large;
}

header {
    width: 100%;
    height: 75px;
    background-color: var(--accent-color);

    display: flex;
    justify-content: right;
    align-items: center;

    margin: 0;
}

main {
    width: 100%;

    margin: auto;
}

footer {
    width: 100%;
    height: 50px;

    position: sticky;
    top: 100vh;

    background-color: var(--accent-color);
}


.photoBox {
    width: 100%;
    height: 100%;
    text-align: center;

    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
}

.photoContent {
    width: 62.5%;
    height: auto;
    /* margin: auto; */

    /* display: flexbox; */
}

.photoInfo {
    width: 35ch;
    height: auto;

    text-align: left;

}

td.param {
    text-align: right;
    padding-right: 10px;

}

td.value {
    text-align: center;
}

span {
    text-align: center;
    vertical-align: middle;
}