.themeSwitch {
    --sw-width: 60px;
    --sw-height: 34px;

    height: var(--sw-height);
    width: var(--sw-width);

    margin-right: 45px;

    display: inline-block;

    border-radius: 15px;

    background-color: var(--accent2-color);
    /* clip-path: ellipse(30px 18px at 50% 50%); */
}

#theme {
    display: none;
}

div.sw {
    position: absolute;
    height: var(--sw-height);
    width: var(--sw-width);
}

div.swbox {

    position: absolute;
    height: var(--sw-height);
    width: var(--sw-width);

    clip-path: inset(2px 2px 2px 2px round 15px);
}

#theme:checked~.swbox>* {
    transition: 500ms ease;
    transform: translateX(30px);
}

/* #theme:checked~.swbox>.circle {
    transition: 500ms ease;
    transform: translateX(30px);
}

#theme:checked~.swbox>.select1 {
    transition: 500ms ease;
    transform: translateX(30px);


}
#theme:checked~.swbox>.select2 {
    transition: 500ms ease;
    transform: translateX(30px);
} */

.swbox>.select1 {
    position: inherit;
    height: 30px;
    width: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 5px;

    text-align: center;

    top: 2px;
    right: 45px;

    background-color: var(--night);

    transition: 500ms ease;

    z-index: 0;
}


.swbox>.circle {

    position: inherit;

    height: 30px;
    width: 30px;

    top: 2px;

    border-radius: 15px;

    background-color: var(--theme-toggle-circle);
    transition: 500ms ease;
}

.swbox>.select2 {
    position: inherit;
    height: 30px;
    width: 45px;

    margin-left: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    top: 3px;
    left: 15px;

    background-color: var(--day);

    transition: 500ms ease;

    z-index: 0;
}

.select1>span {
    user-select: none;
}

.select2>span {
    user-select: none;
}